---
import Avatar from '@/features/avatar/Avatar.astro'

import * as styles from './hero.css'
import * as fonts from '@/styles/font.css'
---

<div class={styles.heroWrapper}>
  <div class={styles.container}>
    <Avatar />
    <h1 class={`${styles.name} ${fonts.Jost}`}>uwaaa / student developer</h1>
  </div>
</div>
