---
import * as styles from './footer.css'
import Link from './Link.astro'
---

<footer class={styles.footerWrapper}>
  <div class={styles.content}>
    <p>uwaaa | student developer</p>
    <p>Copyright © 2024 aqyuki All rights reserved.</p>
    <Link />
  </div>
</footer>
