---
import * as styles from './footer.css'
import * as fonts from '@/styles/font.css'
import Link from './Link.astro'
---

<footer class={styles.footerWrapper}>
  <div class={`${styles.content} ${fonts.NotoSansJPThin}`}>
    <p>Copyright © 2024 aqyuki All rights reserved.</p>
    <Link />
  </div>
</footer>
