---
import * as styles from './link.css'
---

<div class={styles.linkWrapper}>
  <a href="https://x.com/aqyuki21s" target="_blank" class={styles.link}>X</a>
  <a href="https://github.com/aqyuki" target="_blank" class={styles.link}
    >GitHub</a
  >
  <a href="https://github.com/aqyuki/citrin" target="_blank" class={styles.link}
    >Source</a
  >
</div>
