---
import Layout from '@/layouts/Layout.astro'
import Profile from '@/features/profile/Profile.astro'
import Hero from '@/features/hero/Hero.astro'
---

<Layout
  ><main>
    <Hero />
    <Profile />
  </main>
</Layout>
